body {
  background-color: rgb(133, 145, 152);
  margin-left: 20px;
  margin-top: 50px;
  // user-select:none; //снимает выделение пользователя
}

#text {
  color: rgb(255, 0, 0);
  // color: #ffff00;
}






